* ,
h3{
    color: #fff;
}

@font-face {
    font-family: Work_Sans_Regular;
    src: url(../fonts/Work_Sans/static/WorkSans-Regular.ttf);
}
@font-face {
    font-family: TekoFont-Bold;
    src: url(../fonts/Teko/Teko-Bold.ttf);
}
@font-face {
    font-family: TekoFont-Medium;
    src: url(../fonts/Teko/Teko-Medium.ttf);
}
/* video, .uk-position-cover {
    position: fixed;
} */
body {
    font-family: Work_Sans_Regular;
    font-size: 18px;
    line-height: 27px;
}
h3 {
    font-size: 46px;
    font-family: TekoFont-Medium;
    margin: 0;
    
}
h2 {
    color: #D4AF37;
    font-family: TekoFont-Bold;
    font-size: 56px;
    margin: 0;
    margin-top: 15px;
}
.coming-soon-content {
    text-align: center;
}
.coming-soon-text {
    width: 470px;
    max-width: 100%;
    margin-bottom: 45px;
}
.coming-soon-content a {
    background: #d3af36;
    padding: 20px 30px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #d3af36;
    transition: 0.3s linear;
}
.coming-soon-content a:hover {
    background: transparent;
    transition: 0.3s linear;
    color: #d3af36;
}
.logo {
    margin-bottom: 25px;
}
.line {
    padding-top: 35px;
    padding-bottom: 35px;
}
